<!--Main Navigation-->
<header>

    <!-- Sidebar -->
    <div class="sidebar-fixed position-fixed" style="background-image:url('../../../../assets/img/background4.jpeg') ">

        <a class="logo-wrapper waves-effect">
            <div><span><img src="../../../../assets/img/angular.png" style="height:30px;margin-right: 5px" class="img-fluid" alt=""></span> <span style="color: white;font-weight: bold;">VILLA SPA</span> </div>
        </a>

        <div class="list-group list-group-flush">

           
            <a routerLink="register" routerLinkActive="active" style="background-color: #18202b;color: white" class="list-group-item list-group-item-action waves-effect">
                <i class="fa fa-user mr-3" ></i>User Registration </a> 
            <a routerLink="login" routerLinkActive="active" style="background-color: #18202b;color: white" class="list-group-item list-group-item-action waves-effect">
                <i class="fa fa-sign-in mr-3" ></i>Login </a> 
            <a routerLink="products" *ngIf="accessToken" routerLinkActive="active" style="background-color: #18202b;color: white" class="list-group-item list-group-item-action waves-effect">
                <i class="fa fa-sign-in mr-3" ></i>ProductList </a> 
            <a routerLink="procurementcategories" *ngIf="accessToken" routerLinkActive="active" style="background-color: #18202b;color: white" class="list-group-item list-group-item-action waves-effect">
                <i class="fa fa-sign-in mr-3" ></i>Procurement Categories List </a> 
            <a routerLink="procurementproducts" *ngIf="accessToken" routerLinkActive="active" style="background-color: #18202b;color: white" class="list-group-item list-group-item-action waves-effect">
                <i class="fa fa-sign-in mr-3" ></i>Procurement Products List </a> 
            <a routerLink="logout" routerLinkActive="active" style="background-color: #18202b;color: white" class="list-group-item list-group-item-action waves-effect">
                <i class="fa fa-sign-in mr-3" ></i>Logout </a> 
        </div>

    </div>
    <!-- Sidebar -->

    <!--Navbar-->
    <mdb-navbar [containerInside]="false" SideClass="navbar" style="box-shadow: 0 0px;">

        
        <!-- Collapsible content -->

    </mdb-navbar>
    <!--/.Navbar-->

</header>
<!--Main Navigation-->