<div style="width:100%;height:30px;text-align:center;background-color: #5a6097;color: #ffffff;border-radius: 20px;">Procurement Categories List</div>

<table *ngIf="suppliersDataLoaded | async" mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="supplier">
    <th mat-header-cell *matHeaderCellDef> Product Supplier </th>
    <td mat-cell *matCellDef="let element"> {{element.supplierName}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Product Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="slug">
    <th mat-header-cell *matHeaderCellDef> Product Slug </th>
    <td mat-cell *matCellDef="let element"> {{element.slug}} </td>
  </ng-container>

  <ng-container matColumnDef="url">
    <th mat-header-cell *matHeaderCellDef> Product Url </th>
    <td mat-cell *matCellDef="let element" style="color:blueviolet"> {{element.url}} </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25,100]" [showFirstLastButtons]="true" [length]="totalSize"
        [pageIndex]="currentPage" (page)="pageEvent = handlePage($event)">
</mat-paginator>