
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Register</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form">
      <table class="example-full-width" cellspacing="0">

          <tr>
              <td>
                <mat-form-field class="example-full-width">
                <input matInput placeholder="email" [(ngModel)]="email" name="email" required>
                </mat-form-field>
              </td>
            </tr>
        <tr>
          <td>
            <mat-form-field class="example-full-width">
            <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
        <td><mat-form-field class="example-full-width">
          <input matInput placeholder="Password" [(ngModel)]="password"type="password" name="password" required>
        </mat-form-field></td>
      </tr></table>
    </form>
    <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="register()" color="primary">Register</button>
  </mat-card-actions>
  <div *ngIf="successFlag" style="color:mediumseagreen" >{{displayMsg}}</div>
  <div *ngIf="!successFlag" style="color:red">{{displayMsg}}</div>
</mat-card>