<div style="width:100%;height:30px;text-align:center;background-color: #5a6097;color: #ffffff;border-radius: 20px;">Product Name : {{productName}}</div>

<table  *ngIf="productDetailsLoaded | async" mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="location">
    <th mat-header-cell *matHeaderCellDef> Location Name </th>
    <td mat-cell *matCellDef="let element"> {{element.locationName}} </td>
  </ng-container> -->

  <ng-container matColumnDef="quantity">
    <th mat-header-cell *matHeaderCellDef> Quantity </th>
    <td mat-cell *matCellDef="let element"><a (click)="decreaseQty(element)"><i class="material-icons" style="color:red">remove_circle_outline</i></a> <mat-form-field><input type="number" style="text-align:center" matInput [(ngModel)]="element.quantity" value="{{element.quantity}}"></mat-form-field><a (click)="increaseQty(element)"> <i class="material-icons" style="color:royalblue">add_circle_outline</i></a></td>
  </ng-container>

  <ng-container matColumnDef="quantity_needed_labels">
    <th mat-header-cell *matHeaderCellDef> Quantity Needed </th>
    <td mat-cell *matCellDef="let element"> <mat-form-field><input type="number" style="text-align:center" matInput value="{{element.quantity_needed_labels}}"></mat-form-field> </td>
  </ng-container>

   <ng-container matColumnDef="comments">
    <th mat-header-cell *matHeaderCellDef> Comments </th>
    <td mat-cell *matCellDef="let element"><mat-form-field><input style="text-align:center" matInput value="{{element.comments}}"></mat-form-field>  </td>
    </ng-container>
    
    <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Delete </th>
        <td mat-cell *matCellDef="let element"><a> <i class="material-icons" style="color:red">delete</i></a> </td>
    </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25,100]" [showFirstLastButtons]="true" [length]="totalSize"
        [pageIndex]="currentPage" (page)="pageEvent = handlePage($event)">
</mat-paginator>